<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <nav class="navbar navbar-dark bg-dark fixed-top navbar-custom">
    <div class="container-fluid d-flex align-items-center">
      <div class="header-left">
        <% const headerLink = (user && user.profiles.length > 0) ? "/posts" : "/" %>
        <a class="async" href="<%= headerLink %>">
          <div class="header-logo">
            <img src="/images/pawzbe-logo.png" alt="Profile Image" class="img-fluid">
          </div>
        </a>
        <a class="async navbar-brand" href="<%= headerLink %>">&nbsp;&nbsp;&nbsp;pawzbe</a>
      </div>
      <div class="navbar-dark" id="navbarSupportedContent">
        <div class="nav-items ms-auto navbar-nav d-flex align-items-center flex-row">
          <!-- <% if (user) { %>
            <a class="nav-link" aria-current="page" href="/profiles/new">Add Pet</a>
            <a class="nav-link" href="#">Add Post</a>
          <% } %> -->

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="login-circle user-icon">
                <% if (user) { %>
                  <img src="<%= user.avatar %>" alt="Profile Image">
                  <% } else { %>
                  <img src="/images/anon.svg" alt="Profile Image">
                <% } %>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if (user) { %>
                <small>Welcome, <%= user.name %>!</small>
                <div class="dropdown-divider"></div>
                <% if (user.profiles[0]) { %>
                  <a class="async dropdown-item" href="/profiles/<%= user.profiles[0]._id %>">View Profile</a>
                  <div class="dropdown-divider"></div>
                <% } %>
                <a class="async dropdown-item" href="/logout">Log Out</a>
                <a class="async dropdown-item" href="/users/<%= user._id %>">User Settings</a>
              <% } else { %>
                <a class="async dropdown-item" href="/auth/google">Log In - Google</a>
                <a class="async dropdown-item" href="/auth/github">Log In - GitHub</a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>


  