<div class="container feed rounded mt-5">
  
  <% profiles.forEach(profile => { %>
    <div class="row feed-content">
      <a href="/profiles/<%= profile._id %>">
        <div class="col-12 feed-item rounded">
          <div class="login-circle feed-pic">
            <img
              src="<%= profile.petPhoto.profilePhoto %>"
              alt="<%= profile.petName %> Profile Image"
              class="img-fluid"
            />
          </div>
          <div class="feed-info">
            <h6><%= profile.petName %></h6>
            <small><%= profile.petDetails.animalType %><% if (profile.petDetails.breed) { %>, <%= profile.petDetails.breed %><% } %></small>
            <small><%= profile.petDetails.bio.split(' ').slice(0, 5).join(' ') %>...</small>
          </div>
        </div>
      </a>
    </div>
  <% }); %>

</div>