
<div class="sidebar-button">
  <p>Browse Pets</p>
</div>

<div class="container feed rounded mt-5">
  <div class="feed-header">
    <% if (typeof disabled !== 'undefined' && disabled) { %>
      <p>Log In To Browse!</p>
    <% } %>
  </div>
 
  <% profiles.forEach(function(profile) { %>
    <% if (typeof disabled !== 'undefined' && disabled) { %>
      <div class="row feed-content" style="background:transparent;">
        <div class="col-12 feed-container">
        
            <div class="col-12 feed-item rounded ellipsis">
              <div class="container feed-photo-container">
                <div class="login-circle feed-pic">
                  <img src="<%= profile.petPhoto.profilePhoto %>" class="img-fluid" />
                </div>
              </div>
              <div class="feed-info">
                <h6><%= profile.petName %></h6>
                <small><%= profile.petDetails.animalType %><% if (profile.petDetails.breed) { %>, <%= profile.petDetails.breed %><% } %></small>
                <small><%= profile.petDetails.bio.split('').slice(0, 16).join('') %>...</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% } else { %>
      <div class="row feed-content" style="background:transparent;">
        <div class="col-12 feed-container">
          <a href="<%= `/profiles/${profile._id}` %>" class="async">
            <div class="col-12 feed-item rounded ellipsis">
              <div class="container feed-photo-container">
                <div class="login-circle feed-pic">
                  <img src="<%= profile.petPhoto.profilePhoto %>" class="img-fluid" />
                </div>
              </div>
              <div class="feed-info">
                <h6><%= profile.petName %></h6>
                <small><%= profile.petDetails.animalType %><% if (profile.petDetails.breed) { %>, <%= profile.petDetails.breed %><% } %></small>
                <small><%= profile.petDetails.bio.split('').slice(0, 16).join('') %>...</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>

