
<%- include('../../partials/header') %>

<form class="profile-form" action="/users/" method="POST">
  <div class="form-group d-flex flex-column align-items-center">
    
    <div class="login-circle enlarge">
      <img src="<%= user.avatar %>" alt="Profile Image" class="img-fluid">
    </div>

    <label>User Name
      <input
        class="form-control"
        type="text"
        name="name"
        id="name"
        placeholder="<%= user.name %>"
      />
    </label>

    <label>User Email
      <input
        class="form-control"
        type="text"
        name="email"
        id="email"
        placeholder="<%= user.email %>"
      />
    </label>

    <label>User Image
      <input
        class="form-control"
        type="text"
        name="avatar"
        id="avatar"
        placeholder="<%= user.avatar %>"
      />
    </label>

    <button class="btn-primary btn" type="submit">Save Changes</button>

  </div>
</form>

<form class="profile-form" id="deleteUserForm" action="/users?_method=DELETE" method="POST">
  <div class="form-group">
    <button class="btn-danger btn" type="submit">DELETE ACCOUNT</button>
  </div>
</form>

<%- include('../../partials/side-feed') %>
<%- include('../../partials/footer') %>