<%- include('../../partials/header') %> <%- include('../../partials/post-form')
%>
<main>
  <div class="container col-sm-10 py-2 mt-3">
    <div class="rounded-3 mt-2" id="banner">
      <div class="container-fluid bg-transparent p-0">
        <img
          src="<%= profile.petPhoto.banner %>"
          class="img-fluid rounded-3 banner-image"
        />
        <div id="profile-image">
          <div class="row">
            <div class="col-md-12">
              <img
                src="<%= profile.petPhoto.profilePhoto %>"
                alt="Profile Image"
                class="img-fluid rounded-circle"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mb-4 row align-items-md-stretch" id="pet-detail-bio">
      
      <% if (owner) { %>
        <div class="d-flex justify-content-end mb-2">
          <a href="/profiles/<%= profile._id %>/edit">
            <button class="async btn btn-secondary">Edit Profile</button>
          </a>
        </div>
      <% } %>
      <div class="row">
        <div class="truncate-text col-md-4 mt-4" id="pet-details">
          <div class="truncate-text h-1 p-1 mb-3 text-center light-background box-shadow rounded-3">
            <h4 class="truncate-text"><strong><%= profile.petName %></strong></h4>
          </div>
          <div class="h-20 p-1 mb-3 text-center light-background box-shadow rounded-3">
            <h5 class="truncate-text"><%= profile.petDetails.animalType %></h5>
          </div>
          <div class="h-1 p-1 mb-3 text-center light-background box-shadow rounded-3">
            <h5 class="truncate-text"><%= profile.petDetails.breed %></h5>
          </div>
          <% if (profile.petDetails.age !== undefined && profile.petDetails.age !== null) { %>
            <div class="h-1 p-1 mb-3 text-center light-background box-shadow rounded-3">
              <h5 class="truncate-text">
                <% if (profile.petDetails.age) { %>
                  <%= profile.petDetails.age %> <%= profile.petDetails.age > 1 ? "Years Old" : "Year Old" %>
                <% } %>
              </h5>
            </div>
          <% } %>
        </div>
        <div class="col-md-8" id="bio-section" style="color: black">
          <% if (profile.petDetails.age !== undefined && profile.petDetails.age !== null) { %>
            <div class="h-100 p-5 bio border rounded-3">
              <h2>Bio</h2>
              <p><%= profile.petDetails.bio %></p>
              <% if (breedInfo) { %>
                <h3>Breed Information</h3>
                <p><%= breedInfo %></p>
              <% } %>
            </div>
          <% } else { %>
            <div class="h-100 p-5 bio border rounded-3">
              <h2>Bio</h2>
              <p><%= profile.petDetails.bio %></p>
              <% if (breedInfo) { %>
                <h3>Breed Information</h3>
                <p><%= breedInfo %></p>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------- -->

    <div class="container mt-5">
      <h2>Gallery</h2>
      <% if (profile.images.length > 0) { %>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% for (let i = 0; i < profile.images.length; i++) { %>
              <li
                data-bs-target="#myCarousel"
                data-bs-slide-to="<%= i %>"
                <% if (i === 0) { %>class="active"<% } %>
              ></li>
            <% } %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% for (let index in profile.images) { %> 
              <% const isActive = (parseInt(index) == 0) ? 'active' : '' %>
            <div class="carousel-item <%= isActive %>">
              <img
                src="<%= profile.images[index] %>"
                class="d-block w-100"
              />
              <div class="carousel-caption">
                <!-- add caption here -->
              </div>
            </div>
            <% } %>
          </div>

          <!-- Left and right controls -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button  
            class="carousel-control-next"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    <% } else { %>
      <p>No photos added yet!</p>
    <% } %>

    <% if (owner) { %>
      <div class="container mt-2">
        <form
          class="profile-form d-flex flex-row"
          action="/profiles/<%= user._id %>?_method=PUT"
          method="POST"
          autocomplete="off" 
          enctype="multipart/form-data"
        >
          <div class="row w-100">
            <div class="col-10">
              <div class="form-group">
                <label for="imageUpload">Upload Images</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="imageUpload"
                  name="images"
                  multiple
                  required
                />
                <small class="form-text text-muted">You can select multiple images.</small>
              </div>
              
            </div>
            <div class="col-2">
              <button class="async add-images-btn btn btn-primary font-weight-bold">+</button>
            </div>
          </div>
        </form>
      </div>
    <% } %>
  </main>
  
    <!---------------------------------------------------------------------------------------------------------------- -->
    
    <div class="col-md-9 mt-5 d-flex justify-content-center w-100">
      <div class=" p-0">
        <h4 style="color:black;"><%= profile.petName %>'s Posts</h4>
      </div>
    </div>

    <div class="posts-container row justify-content-center mb-3">
      <% for (post of posts) { %>
        <div class="post-wrapper col-12 col-md-10 justify-content-center align-items-center mb-4 mt-2 py-4">
          <div class="post-img transparent rounded-3 d-flex flex-column align-items-center">
            <p class="fw-bold text-dark mb-2 left-align"><%= post.postDescription %></p>
            <img src="<%= post.images[0].url %>" class="img-fluid rounded mb-2" />
          </div>
          
          <% const userHasLiked = post.likingUserProfileId.includes(user.profiles[0]._id.toString()) ? 'btn-primary-green' : 'btn-outline-secondary'; %>
          <div class="d-flex justify-content-end mt-2">
            <form action="/posts/<%= post._id %>/likes" method="POST">
              <input type="hidden" name="likingUserprofileId" value="<%= post.likingUserprofileId %> ">
              <button type="submit" 
                      class="async btn <%= userHasLiked %>">
                <span class="like-count">
                  <%= post.likes%> Likes
                </span>
              </button>
            </form>
            <button class="btn btn-outline-secondary" onclick="toggleComments('<%= post._id %>')">            
                <%= post.postComments.length %> Comments
            </button>
          </div>
          
          <!-- Comments Section (Initially Hidden) -->
          <div id="comments-section-<%= post._id %>" class="col-md-12 mb-3" style="display: none;">
            <% post.postComments.forEach(comment => { %>
              <div class="col-md-8 col-lg-6 mx-auto">
                <div class="comment mb-2 p-3 shadow-sm rounded" style="background-color: #e3e9e2;">
                  <strong class="d-block text-primary mb-2"><%= comment.petName %></strong>
                  <p class="mb-0" style="font-size: 0.9rem;"><%= comment.commentText %></p> 
                </div>
              </div>
              
              <form
                action="/posts/comments/<%= post._id %>?_method=DELETE"
                method="POST"
                class="col-md-12 d-flex justify-content-end mt-3 ms-auto"
                >
                
                <!-- hidden input value added to comment.profileId -->
                <input type="hidden" name="currentProfile" value="<%= comment.profileId %>">

              </form>
            <% }); %>
          </div>
          <!-- comment.profileId -->
  
  
          <!-- Comment Form (Initially Hidden) -->
          <div id="comment-form-<%= post._id %>" class="col-md-12" style="display: none;">
            <form action="/posts/<%= post._id %>/comments" method="POST">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-6 mx-auto">
                  <textarea
                    class="form-control mb-2"
                    name="commentText"
                    placeholder="Write a comment..."
                    rows="3"
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <button type="submit" class="async btn btn-success">Submit Comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      <% } %>
    </div>
      

<%- include('../../partials/side-feed', { profiles }) %>

<script>
  function toggleComments(postId) {
    const commentsSection = document.getElementById(
      "comments-section-" + postId
    );
    const commentForm = document.getElementById("comment-form-" + postId);
    const isHidden = commentsSection.style.display === "none";

    commentsSection.style.display = isHidden ? "block" : "none";
    commentForm.style.display = isHidden ? "block" : "none";
  }
</script>

<%- include('../../partials/loading') %>

<%- include('../../partials/footer') %>